OPENAI_API_KEY=
OPENAI_ENDPOINT=""
OPENAI_API_VERSION=""
OPENAI_DEPLOYEMENTNAME=""
OPENAI_EMBEDDING_DEPLOYEMENTNAME="text-embedding-3-small"
OPENAI_INSTANCE_NAME=""

DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/postgres"
JWT_ACCESS_SECRET="sushantsinghnegideveloper"
JWT_REFRESH_SECRET="sushantsinghnegideveloperpro"

GITHUB_SECRET=""
GITHUB_ID=""

NEXTAUTH_SECRET=your-long-random-secret
NEXTAUTH_URL=http://localhost:3000